@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
body, h1, h2, h3, p, ul {
    margin:0;
}

ul {
    padding: 0;
    list-style: none;
}
/* CSS */
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}