
img {
  width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* 세션 공통 */
.sec {
  height: 800px;
  width: 1500px;
  margin: 0 auto;
  position: relative;
}
/* 섹션1 */
/*  .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); 
    color: black;
    /* background-color: yellow;
    margin-top: -10px;
    margin-left: -80px;
}
*/
.main_img img {
  position: relative;
}
.txt {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
}
.txt span {
  /* display: inline-block; */
  background-color: black;
  opacity: 0.75;

  color: white;
  font-size: 32px;
}
.tit1 img {
  width: 60px;
  height: 44px;
}
.tit1 {
  font-size: 22px;
  /* background-color: #000; */
  /* opacity: .75; */
}

/* 섹션2, 3 공통 */
.sec23 li {
  top: 50px;
  float: left;
  width: 360px;
  height: 240px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.sec23 li:nth-of-type(4n) {
  margin-right: 0;
}

/* 섹션2 */
#sec2 {
  margin-top: 10px;
}
#sec2 li {
  position: relative;
}

#sec2 li > img {
  width: 360px;
  height: 240px;
}
#sec2 li span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 8px 16px;
  color: white;
}

/* 섹션3 */
#sec3 li {
  display: inline-block;
}
#sec3 img {
  width: 360px;
  height: 240px;
}
.clearfix li h3 {
  padding: 20px 0;
}

/* 섹션4 */
#sec4 {
  background-color: rgb(226, 141, 43);
}

.bimg {
  position: relative;
}

.bimg h2 {
  color: white;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 99;
}

/* 푸터 */
footer {
  margin-top: 55px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 400px;
  padding: 40px 40px 0 40px;
}
.foot_top, .main{
  display: flex;
}
.foot_top{
  justify-content: space-around;
  width: 1300px;
  margin: 10px 250px;
}
.main li {
  margin-right: 30px;
  line-height: 160%;
}
.footer_point {
  font-weight: bold;
  font-size: 18px;
}
.footer_point a {
  color: white;
}

.b_sns li img{
  width: 32px;
  height: 32px;
  margin-left: 20px;
}
.b_sns ul{
  display: flex;
}
