* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.carousel_wrapper{
  width: 1200px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel ul{
  width: 1200px;
  height: 400px;
  display: flex;
  transition: .5s;
}
.carousel img{
  width: 1200px;
  height: 400px;
}