@charset "utf=8";

table, th, td {
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    text-align: center;
}
th{
    width: 100px;
    background: lightcoral;
}
td{
    width: 100px;
    height: 100px;
}