@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  display: block;
}

body {
  display: flex;
  justify-content: center;
}

/* common */
.wrap{
  width: 1200px;
  margin: 0 auto;
}



/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-content: left;
}

.gnb {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: white;
  border-bottom: 1px solid gray;
}
a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/* ul li {
      border: 1px solid black;
    } */

ul li {
  list-style: none;
}
.main {
  display: flex;
  line-height: 160%;
}
.main li:hover> a {
  background-color: black;
  color: white;
}
.main > li > a {
  /* border: 1px solid black; */
  margin-top: 15px;
  padding: 20px;
  font-size: 22px;
  width: 200px;
}
.sub {
  display: none;
  text-align: left;
  margin-top: 20px;
}
.sub > li {
  padding-left: 20px;
}
.main:hover .sub {
  display: block;
  background-color: rgba(244, 244, 244, 0.6);
}

/* constent */
.content {
  width: 1200px;
  height: 700px;
  /* border: 1px solid black; */
}
/* carousel */
.carousel-wrapper {
  width: 1200px;
  height: 300px;
  overflow: hidden;
  /* position: relative; */
}
.carousel-wrapper > .carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
  overflow: hidden;
}
.carousel-wrapper > .carousel > img {
  width: 1200px;
  height: 300px;
}

.container {
  width: 1200px;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
}
.tabs {
  width: 400px;
  height: 400px;
  /* border: 1px solid black; */
}
.tab_btn {
  display: flex;
  margin: 10px;
  
}
.tab_btn li{
  margin: 10px;
  
}
.tabCon{
  width: 350px;
  height: 200px;
  background-color: #ccc;
  border: 1px solid  black;
}
.con1{

}
.con2{
  display: none
}

.img_content {
  width: 400px;
  height: 400px;
}

footer {
  width: 1200px;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  background-color: #ccc;
}
footer > div {
  width: 400px;
  height: 100px;
}
