@charset "utf-8";
body ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  display: flex;
  justify-content: center;
}

/* common */
.wrap {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-content: left;
}

.gnb {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: white;
  border-bottom: 1px solid gray;
}
a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/* ul li {
      border: 1px solid black;
    } */

ul li {
  list-style: none;
}
.main {
  display: flex;
  line-height: 160%;
}
.main li:hover > a {
  background-color: black;
  color: white;
}
.main > li > a {
  /* border: 1px solid black; */
  margin-top: 15px;
  padding: 20px;
  font-size: 22px;
  width: 200px;
}
.sub {
  display: none;
  text-align: left;
  margin-top: 20px;
}
.sub > li {
  padding-left: 20px;
}
.main:hover .sub {
  display: block;
  background-color: rgba(244, 244, 244, 0.6);
}
#contents {
  height: 200px;
}
#modal {
  display: none;
}

#contents > div {
  float: left;
  width: 400px;
}
/* tabs(notice & gallery) */
/* 탭 */
input {
  display: none;
}
#tabs input:checked + div {
  display: block;
}
.carousel{
  width: 1200px;
  height: 300px;
  overflow: hidden;
}

.list{
  display: flex;
}
.list li{
  width: 120px;
  background-color: lightcoral;
  border: 1px solid black;
  
}
.container{
  display: flex;
}

/* 내용 공통  */
#tabs div {
  display: none;
  position: absolute;
  top: 40px;
  width: 400px;
  height: 160px;
}




/* 공지사항 */
#tab1 {
  background-color: lightblue;
}

#tab1 li {
  border-bottom: 1px solid red;
  padding-bottom: 8px;
  margin: 8px 0;
}

#tab1 span {
  display: inline-block;
  width: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
#tab1 li a{
  font-size: 14px;
}

/* 갤러리 */
#tabs #tab2 {
  /* box-sizing: border-box; */
  /* width: calc(400px - 32px); */
  background-color: lightcoral;
  padding: 24px 16px;
  display: flex;
}
#tab2 a {
  margin: 0 4px;
}
#tab2 a > img {
  width: 100px;
  height: 100px;
}
/* banner */

/* shortcut */


footer{
  display: flex;
}
.sns ul{
  display: flex;
}