@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  typo - 글꼴, 크기, 색, 줄간격, 자간, 스타일
  font - 굵기, 기울임 크기/ 줄간격 글꼴;
  letter-spacing
  color : 글자색
*/

body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

/* common */
.wrap {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.logo {
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
}

.gnb {
  width: 1200px;
  display: flex;
  padding-top: 20px;
  background-color: white;
  margin-right: 40px;
}
a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/* ul li {
      border: 1px solid black;
    } */

ul li {
  list-style: none;
  text-align: center;
}
.main {
  display: flex;
  line-height: 160%;
}
.main li:hover > a {
  background-color: black;
  color: white;
}
.main > li > a {
  /* border: 1px solid black; */
  margin-top: 15px;
  padding: 20px;
  font-size: 22px;
  width: 200px;
}
.sub {
  display: none;
  text-align: left;
  margin-top: 20px;
}
.sub > li {
  padding-left: 20px;
}
.main:hover .sub {
  display: block;
  background-color: rgba(244, 244, 244, 0.6);
}
#contents {
  height: 200px;
}
#modal {
  display: none;
}

#contents > div {
  float: left;
  width: 400px;
}
/* tabs(notice & gallery) */
/* 탭 */
input {
  display: none;
}
#tabs input:checked + div {
  display: block;
}
.carousel{
  width: 1200px;
  height: 300px;
  overflow: hidden;
}

.list{
  display: flex;
}
.list li{
  text-align: center;
  width: 120px;
  background-color: lightcoral;
  /* border: 1px solid black; */
  margin-left: 4px;
  
}
.container{
  display: flex;
  margin-top: 4px;
}

/* 내용 공통  */
#tabs div {
  display: none;
  position: absolute;
  top: 40px;
  width: 400px;
  height: 160px;
}

.btn {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 40px;
  line-height: 40px;
}
.shortcut{
  /* border: 2px solid black; */
  margin-left: 20px ;
  position: relative;
  line-height: 160%;
}
.cut1 span{
  position: absolute; 
  font-size: 24px;
  font-weight: bolder;
  top: 50px;
  right: 70px;
}
.cut1 div{
  border: 2px solid black;
  position: absolute;
  top: 80px;
  right: 75px;
  font-size: 18px;
  font-weight: bold;
}
.cut2 span:nth-of-type(1){
  position: absolute;
  top: 90px;
  right: 60px;
  font-weight: lighter;
  padding: 4px 2px;
  background-color: white;

}
.cut2 span:nth-of-type(2){
  position: absolute;
  top: 60px;
  right: 35px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* 공지사항 */

#tab1 li {
  padding-bottom: 8px;
  margin: 8px 0;
  text-align: left;
}

#tab1 span {
  text-decoration: underline;  
  display: inline-block;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
#tab1 li a{
  font-size: 14px;
}
.cont {
  width: 400px;
}
/* 갤러리 */

#tab2 {
  display: none;
}
.tabimg {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}
.tabimg li {
  margin-top: 10px;
  margin-left: 8px;
  border: 1px solid black;
}
/* banner */

/* shortcut */


footer{
  display: flex;
  background-color: #777;
  height: 100px;
  color: white;
  /* background: rgb(84,76,89);
  background: radial-gradient(circle, rgba(84,76,89,1) 0%, rgba(0,0,0,1) 50%, rgba(97,88,88,1) 100%); 
   */
}
.b_logo {
  margin: 30px 200px 0 20px;
  opacity: .5;
}
.sns{
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.sns li a{
  padding-right: 8px;
  color: white;
}

.copyright {
  font-size: 11px;
  padding: 16px 0;
  text-align: center;
  margin-right: auto;
  color: black;
}
.copyright a{
  color: white;
}
