* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  line-height: 1.2;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
  height: 160px;
  text-align: center;
}
.logo {
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  height: 50px;
  border-top: 3px solid black;
  text-align: center;
  font-size: 1.45em;
}
.gnb {
  display: flex;
  justify-content: center;
  position: relative;
}
.gnb > li > a {
  font-weight: bold;
}
.gnb::after {
  content: "";
  position: absolute;
  top: 47px;
  width: 100%;
  height: 0px;
  background-color: #fff;
  z-index: 9;
  transition: 0.3s;
}
.gnb:hover::after {
  border-top: 3px solid black;
  height: 330px;
  vertical-align: top;
}
.gnb li {
  text-align: center;
  height: 50px;
  width: 200px;
  padding: 16px 24px;
  display: block;
}
.sub {
  text-align: center;
  position: absolute;
  z-index: 10;
  display: none;
  transition: 0.5s;
}
.sub li{
  transform: translateX(-15%);
  line-height: 2.4rem;
}
.sub li a.on{
  font-weight: bold;
  position: relative;
  background: url(../images/menu_hover.png)no-repeat center left;
}
.gnb:hover .sub {
  display: block;
}
/* //header */
.sec1 {
  width: 100%;
  height: 840px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s1_box {
  width: 700px;
  height: 350px;
  border: 1px solid black;
  text-align: center;
  padding: 50px;
}
.s1_box:hover .f1 {
  margin-top: 0;
}

.f1 p {
  font-size: 18px;
  margin-top: 100px;
  opacity: 0;
}

.f1 span {
  opacity: 0;
  margin-top: 100px;
  transition: 1s;
  margin: 12px;
  font-size: 48px;
  padding: 16px;
  display: inline-block;
  width: 50%;
  font-weight: bold;
}
