/* header */
header {
  background-color: antiquewhite;
  width: 1200px;
  display: flex;
}

header > div {
  border: 1px solid black;
}

/* logo */
.logo {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
/* nav */
ul li {
  list-style: none;
}

nav > ul {
  display: flex;
}
.sub > li {
  display: none;
}

/* carousel */

.carousel_wrapper {
  width: 1200px;
  height: 300px;
  overflow: hidden;
  display: flex;
}
.carousel_wrapper > .carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}
.carousel_wrapper > .carousel > img {
  width: 1200px;
  height: 300px;
}

/* contents */
.contents {
  display: flex;
}
.contents > div {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.content >a> img{
  width: 400px;
  height: 400px;
}


/* footer */
footer {
  display: inline;
  width: 1200px;
  height: 100px;
  background-color: #ccc;
}
